<%= form_with scope: :project, url: projects_path, local: true do |form| %>
	
	<p>
		<%= form.label :picture %><br>
		<%= form.file_field :picture %>
	</p>
	<p>
		<%= form.label :name %><br>
		<%= form.text_field :name %>
	</p> 

	<p>
		<%= form.label :predescription %><br>
		<%= form.text_area :predescription %>
	</p>

	<p>
		<%= form.label :description %><br>
		<%= form.text_area :description %>
	<p>

	<p>
		<%= form.label :characteristic %><br>
		<%= form.text_area :characteristic %>
	</p>

	<p>
		<%= form.label :price %><br>
		<%= form.text_field :price %>
	</p>	
		
	<p>
		<%= form.submit %>
	</p>

<% end %>
	