<section class="page-section">
    <div class="container">
      <div class="product-item">
        <div class="product-item-title d-flex">
          <div class="bg-faded p-5 d-flex ml-auto rounded">
            <h2 class="section-heading mb-0">
              <span class="section-heading-upper"><%= @project.predescription %></span>
              <span class="section-heading-lower"><%= @project.name %></span>
            </h2>
          </div>
        </div>
        <%= image_tag(@project.picture, class: "product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0") %>
        <div class="product-item-description d-flex mr-auto">
          <div class="bg-faded p-5 rounded">
            <p class="mb-0"><%= @project.description %></p>
            <p class="mb-0"><%= @project.characteristic %></p>
            <h2 class="section-heading mb-0">
            	<span class="section-heading-upper"><%= @project.price %></span>
        	</h2>
          </div>
        </div>
          <%= link_to 'Back', projects_path, class: "btn btn-info" %>
          <% if artist_signed_in? %>
  		    <%= link_to 'Edit', edit_project_path(@project), class: "btn btn-warning" %> 
  		    <%= link_to 'Destroy', project_path(@project), method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
          <% else %>
          <% end %>
      	</div>
    </div>
  </section>
