<!DOCTYPE html>
<html>
  <head>
    <title>ArtGalleryByMonti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!-- Devise identifed system -->
    <div class="container">
        <% if artist_signed_in? %>
          <span class="text-color-head">Hello, <%= current_artist.username %></span> | <%= link_to 'Sign out', destroy_artist_session_path, method: :delete %> 
        <% else %>
          <%= link_to 'Sign in', new_artist_session_path %>
        <% end %>  
        <span class="text-color-body"><p class="notice"><%= notice %></p></span>
        <span class="text-color-body"><p class="alert"><%= alert %></p></span>
    </div>

    <!-- Header -->
    <%= render 'layouts/header' %>
    <!-- Navigation -->
    <%= render 'layouts/navigation' %>

    <%= yield %>

    <!-- Footer -->
    <%= render 'layouts/footer' %>
  </body>
</html>
